div.selector-container select {
  float: left;
  padding: 3px;
  width: 250px;
}

div.selector-container div.container {
  float: left;
  padding: 3px;
}

div.selector-container div.clear {
  clear: left;
  height: 1em;
}

div.selector-container input.button {
  width: 8em;
}
