<!DOCTYPE html>
<html>
<head>
  <title>Rich Browser</title>
  <%= stylesheet_link_tag    "application", :plugin => "redmine_ckeditor" %>
  <%= javascript_include_tag "application", :plugin => "redmine_ckeditor" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
